@model IEnumerable<CMS_3D_Core.Models.EDM.t_assembly>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_assy)
        </th>
        <th>
            View
        </th>
        <th>
            Add Instance
        </th>
        <th>
            Link
        </th>
    </tr>
    @{
        foreach (var item in Model)
        {

        <tr>
            <td>
                Assy: @Html.DisplayFor(modelItem => item.id_assy)
            </td>
            <td>
                @Html.ActionLink("View Detail", "DetailProductInstruction", "ContentsView", new { id_assy = item.id_assy })
            </td>
            <td>
                @Html.ActionLink("Add Instance", "CreateInstancePart", "ContentsEdit", new { id_assy = item.id_assy })
            </td>
            <td>
                @Html.ActionLink("Edit Detail", "EditProductInstruction", "ContentsEdit", new { id_assy = item.id_assy })
            </td>
        </tr>
        }
    }

</table>


<h4>モデル管理</h4>


<a asp-action="Index" asp-controller="ContentsEditFile">File Management</a>

