@model IEnumerable<CMS_3D_Core.Models.EDM.t_assembly>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="CreateAssembly">Create New Assembly</a>
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_assy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assy_name)
        </th>
        <th>
            Assy
        </th>
        <th>
            Instance
        </th>
        <th>
            Detail Instructions
        </th>
        <th>
            Link
        </th>
    </tr>
    @{
        foreach (var item in Model)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_assy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.assy_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "t_assembly", new { id_assy = item.id_assy })
                |
                @Html.ActionLink("Delete", "Delete", "t_assembly", new { id_assy = item.id_assy })
            </td>
            <td>
                @Html.ActionLink("Add", "CreateInstancePart", "ContentsEdit", new { id_assy = item.id_assy })
                |
                @Html.ActionLink("List(for Delete)", "Index", "t_instance_part", new { id_assy = item.id_assy })
            </td>
            <td>
                @Html.ActionLink("List(for Delete)", "Index", "t_view", new { id_assy = item.id_assy })
            </td>
            <td>
                @Html.ActionLink("View", "DetailProductInstruction", "ContentsView", new { id_assy = item.id_assy })
                |
                @Html.ActionLink("Edit", "EditProductInstruction", "ContentsEdit", new { id_assy = item.id_assy })
            </td>
        </tr>
        }
    }

</table>


<h4>モデル管理</h4>


<a asp-action="Index" asp-controller="ContentsEditFile">File Management</a>

