@model IEnumerable<CMS_3D_Core.Models.EDM.t_attachment>


@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-3"></div>


    <div class="col-md-6">



        <h1>Index</h1>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id_file)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.type_data)
                    </th>
                    <th>
                        FileSize[MB]
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.itemlink)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.license)
                    </th>
                    <th>
                        Create
                    </th>
                    <th>
                        Latest Update
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.target_article_id)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.id_file">@Html.DisplayFor(modelItem => item.id_file)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type_data)
                        </td>
                        <td>
                            @(((float)item.file_length.Value/1000000).ToString("0.00"))
                        </td>
                        <td>
                            <a href="@item.itemlink">Data Source</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.license)
                        </td>
                        <td>
                            @item.create_datetime.ToString("MM/dd/yyyy")
                        </td>
                        <td>
                            @item.latest_update_datetime.ToString("MM/dd/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.target_article_id)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>