@model IEnumerable<CMS_3D_Core.Models.EDM.t_instance_part>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_assyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_partNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_assyNavigation.id_assy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_partNavigation.part_number)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id_assy = item.id_assy, id_inst = item.id_inst })
            </td>
        </tr>
}
    </tbody>
</table>
