@model CMS_3D_Core.Models.EDM.t_article

@{
    ViewData["Title"] = @Model.title;
    ViewData["ShowGoogleAdSenseAdvertisement"] = "ON";

    if (Model.meta_description == null)
    {
        ViewData["MetaDescription"] = @Model.short_description;

    }
    else
    {
        ViewData["MetaDescription"] = @Model.meta_description;
    }
}


<link rel="stylesheet" href="~/css/annotation.css" />


<div class="row">

    <div class="col-6" id="id_contents_models">
        <h2>@Html.DisplayFor(model => model.title)</h2>

        <div id="annotations">
        </div>
        @*モデルの表示領域*@
        <canvas id="model_screen">
        </canvas>

        <div class="progress" id="div_progressbar_modeldl">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="progressbar_modeldl"></div>
        </div>
        <hr />

        <div id="control_panel_zone">
        </div>

        <hr />


    </div>


    <div class="col-6" id="id_contents_instructions">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-instruction-tab" data-bs-toggle="tab" href="#nav-instruction">Instruction</a>
                <a class="nav-link" id="nav-materials-tab" data-bs-toggle="tab" href="#nav-materials">Materials</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">



            <div class="tab-pane fade show active" id="nav-instruction">

                <div class="overflow-auto" id="preview_instruction_short_description"></div>

            </div>

            <div class="tab-pane fade" id="nav-materials">

                <h4>Materials</h4>

                <table class="table" id="id_view_refelencematerial_table">
                    <thead id="id_view_refelencematerial_table_thead">
                        <tr>
                            <th>
                                Part Number
                            </th>
                            <th>
                                File Name
                            </th>
                            <th>
                                File Size
                            </th>
                            <th>
                                Item Link
                            </th>
                            <th>
                                Author
                            </th>
                            <th>
                                License
                            </th>
                        </tr>
                    </thead>
                    <tbody id="id_view_refelencematerial_table_tbody">
                    </tbody>
                </table>




            </div>
        </div>


    </div>

</div>





<script src="~/lib/three/three.js"></script>
<script src="~/lib/three/Loader/GLTFLoader.js"></script>
<script src="~/lib/three/Loader/OBJLoader.js"></script>
<script src="~/lib/three/Loader/MTLLoader.js"></script>
<script src="~/lib/three/OrbitControls.js"></script>
<script src="~/lib/marked/marked.js"></script>
<script src="~/js/tdarticle.js"></script>
<script src="~/js/GetScreenshotForUpload.js"></script>


<script type="text/javascript">


    var adarticle = new TDArticle();


    // ロード後に実行される処理
    window.onload = function () {
        'use strict';

        @{
            var obj = (Model ?? new CMS_3D_Core.Models.EDM.t_article() { });
        }


        adarticle.id_article = @obj.id_article;
        adarticle.is_edit_mode = false;
        adarticle.ComplexSetupEnvironmentInitial();


        window.addEventListener("resize", resizewindow, false);

        //adarticle.onWindowResize();
    }

    function resizewindow() {
        adarticle.onWindowResize();
    }

</script>
