@model CMS_3D_Core.Models.EDM.t_part

@{
    ViewData["Title"] = "Details";
}



<h1>Details2</h1>

<p class="text-info">
    @ViewBag.ResultMsg
</p>

<div>
    <h4>t_part</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">

            <div id="model_screen">
                @*モデルの表示領域*@
                <div class="progress" id="div_progressbar_modeldl">
                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="progressbar_modeldl"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>
                        Elementname
                    </th>
                    <th>
                        X
                    </th>
                    <th>
                        Y
                    </th>
                    <th>
                        Z
                    </th>
                    <th>
                        W
                    </th>
                </tr>
                <tr>
                    <td>
                        Camera Position
                    </td>
                    <td>
                        <input id="cam_pos_x" name="cam_pos_x" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        <input id="cam_pos_y" name="cam_pos_y" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        <input id="cam_pos_z" name="cam_pos_z" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        --
                    </td>
                </tr>
                <tr>
                    <td>
                        Camera Look At
                    </td>
                    <td>
                        <input id="cam_lookat_x" name="cam_lookat_x" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        <input id="cam_lookat_y" name="cam_lookat_y" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        <input id="cam_lookat_z" name="cam_lookat_z" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        --
                    </td>
                </tr>
                <tr>
                    <td>
                        Camera Quaternion
                    </td>
                    <td>
                        <input id="cam_quat_x" name="cam_quat_x" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        <input id="cam_quat_y" name="cam_quat_y" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        <input id="cam_quat_z" name="cam_quat_z" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        <input id="cam_quat_w" name="cam_quat_w" type="text" value="" class="form-control" disabled />
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>
                        Orbit Control Target
                    </td>
                    <td>
                        <input id="obt_target_x" name="obt_target_x" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        <input id="obt_target_y" name="obt_target_y" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        <input id="obt_target_z" name="obt_target_z" type="text" value="" class="form-control" disabled />
                    </td>
                    <td>
                        --
                    </td>
                </tr>
            </table>



        </div>





    </div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.HiddenFor(model => model.id_part, new { id = "id_part" })
            @Html.DisplayNameFor(model => model.part_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.part_number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.type_data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.type_data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.format_data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.format_data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.file_texture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.file_texture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.type_texture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.type_texture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.file_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.file_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.file_length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.file_length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.itemlink)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.itemlink">@Model.itemlink</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.license)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.license)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.memo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.memo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Edit" asp-route-id="@Model.id_part">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.id_part">Delete</a>
</div>



<script type="module" src="~/js/testthree.bundle.js"></script>
